
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    color: rgb(73, 5, 128);
}
#start , #status , #number_of_objects, #input
{
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    color: rgb(73, 5, 128);
}
.copy_right_footer
{
  position: fixed;
  color: rgb(73, 5, 128);
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  line-height: 3;
  text-align: center;
  margin-top: 130px;
}
canvas
{
    border: 2px solid rgba(117, 0, 92, 0.63);
    border-radius: 10px ;
    margin-top: 130px;
    box-shadow: 50px 100px 150px rgb(129, 2, 112);
    
}